trigger:
- master

pool:
  vmImage: 'VS2017-Win2016'

steps:
- task: PowerShell@2
  displayName: 'Build Code'
  inputs:
    targetType: filePath
    filePath: './build.ps1'

- task: CmdLine@2
  inputs:
    script: 'dir /s'
    workingDirectory: '$(Build.SourcesDirectory)'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)\out\Release\'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: ''
    ArtifactName: 'POA'
    publishLocation: 'Container'