resources:
  repositories:
  - repository: 'PatchOrchestrationApplication'
    type: 'git'
    name: 'PatchOrchestrationApplication'

trigger:
- master

pool:
  vmImage: 'VS2017-Win2016'

steps:
- checkout: self
- checkout: PatchOrchestrationApplication

- task: CmdLine@2
  inputs:
    script: 'dir /s'
    workingDirectory: '$(Build.SourcesDirectory)'

- task: PowerShell@2
  displayName: 'Build Code'
  inputs:
    workingDirectory: '$(Build.SourcesDirectory)\Service-Fabric-POA'
    targetType: filePath
    filePath: '$(Build.SourcesDirectory)\Service-Fabric-POA\build.ps1'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)\Service-Fabric-POA\out\Release\PatchOrchestrationApplication'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)\CodePackage'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'POA'
    publishLocation: 'Container'